<div class="board">
  <!-- List sequence starts -->
  <ng-container *ngIf="animusBoard && animusBoard.length; else pristineNewListTemplate">
    <ng-container *ngFor="let list of animusBoard; let last=last">
      <ng-container *ngIf="list.state === 'active'">
        <div class="animus-list">
          <animus-list [list]="list" (archiveList)="archiveList(list)"></animus-list>
        </div>
      </ng-container>
      <ng-container *ngIf="last">
        <ng-container *ngTemplateOutlet="pristineNewListTemplate; context: {boardHasList: true}">
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- List sequence ends -->

  <!-- New list UI, in read mode -->
  <ng-template #pristineNewListTemplate let-existingBoard="boardHasList">
    <ng-container *ngIf="!touchedNewListState; else touchedNewListTemplate">
      <div class="animus-list">
        <div class="container">
          <div class="row">
            <div class="col">
              <button (click)="onNewListAddTouched()" mat-flat-button
                class="darker-bg darker-hover full-width white-color text-left add-list-button" disableRipple="true">
                <i class="material-icons add-list-icon">add</i>
                <span *ngIf="boardHasList">
                  Add another list
                </span>
                <span *ngIf="!boardHasList">
                  Add a list
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <!-- New list UI in edit mode -->
  <ng-template #touchedNewListTemplate>
    <div class="animus-list">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="white-bg px-2 pb-1 br-5">
              <input #newListTitle (keyup.enter)="addNewList(newListTitle.value)" type="text"
                class="full-width title-input px-2" placeholder="Enter list title...">
              <div class="row">
                <div class="col">
                  <button class="primary-bg primary-hover white-color" (click)="addNewList(newListTitle.value)"
                    mat-flat-button>
                    Add list
                  </button>
                  <button title="Discard" mat-icon-button (click)="resetNewList()">
                    <i class="material-icons">close</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>