.list-title {
  font-weight: 500;
}

.archive-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: 0;
  display: none;
}

.archive-icon:hover {
  color: #ff3300;
}

.add-card-wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -8px;
  margin-right: -8px;
}

.add-card-wrapper:hover {
  background-color: rgba(9, 30, 66, 0.13);
  color: #172b4d;

  .add-card {
    text-decoration: underline;
  }
}

.add-card-icon {
  font-size: 1rem;
  font-weight: 500;
}

.list-wrapper:hover .archive-icon {
  display: block;
}
