/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @extend .primary-bg;
}

* {
  outline: none !important;
  @extend .no-select;
}

$primary-color: #519839;
$darker-color: #458131;

.primary-bg {
  background: $primary-color;
}

.primary-color {
  color: $primary-color;
}

.darker-bg {
  background: $darker-color;
}

.darker-hover:hover {
  background: darken($darker-color, 3%);
}

.darker-color,
.primary-hover:hover {
  color: $darker-color;
}

.full-width {
  width: 100%;
}

.white-color {
  color: #fff !important;
}

.white-bg {
  background: #e0e3e7;
}

.br-5 {
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.list-title-input {
  box-shadow: inset 0 0 0 2px steelblue;
  border: none;
  border-radius: 5px;
  line-height: 36px;
  margin-top: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.color-faded {
  color: rgba(0, 0, 0, 0.54);
}

.fs-small {
  font-size: 0.9rem;
}

.card-title-input {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.animus-break-word {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

textarea {
  resize: none !important
}

.animus-dialog-container .mat-dialog-container {
  font-size: 0.95rem;
  background-color: #f4f6f7;
  color: #0e2f4c;
  padding-bottom: 4rem;
}



.cdk-global-overlay-wrapper {
  pointer-events: all;
  position: relative;
  overflow: auto;
}